<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title>Workplate</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline2.css')}}"> -->



    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
</head>


<body>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">

                <li class="sidebar-brand">
                    <div class="dropdown">

                        {% if session.team_name != None %}
                          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{ session.team_name }}
                            <span class="caret"></span>
                          </a>
                        {% else %}
                            <a class="dropdown-toggle" type="button" id="New Team" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              New Team
                                <span class="caret"></span>
                              </a>
                        {% endif %}

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        <li>

                        <a href="{{url_for('new_team')}}" style="color: black;">
                        Create a new team
                        </a>

                        <a href="#" style="color:black;">
                            Add new members to team
                        </a>

                        </li>

                        <li role="separator" class="divider"></li>

                        {% for team in user_teams %}
                            {% if session.team_name != team[1] %}
                            <li><a href="{{url_for('change_team', team_id = team[0])}}" style="color: black;">{{team[1]}}</a></li>
                            {% endif %}
                        {% endfor %}



                      </ul>
                    </div>
                </li>

                <li style="line-height: 2em;">

                {% if user_teams|length !=0 %}
                <a href="{{url_for('new_project')}}"
                data-toggle="tooltip" title="Create a new project, add members and start assigning tasks." class="sidebar-item-link" data-placement="bottom">
                New Project
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                {% endif %}

                <br>

                {% if project_name == 'All Projects' %}
                    {% if user_teams|length !=0 %}
                    <a href="{{url_for('all_project_tasks')}}" style="background-color: #3f3f3f; color: white;">
                    All Projects
                    <!-- <span class="label label-as-badge" style="border-radius: 1em; background-color: #ffcc00; color: black;">5</span> -->
                    </a>
                    {% endif %}

                {% else %}
                <a href="{{url_for('all_project_tasks')}}">All Projects
                <!-- <span class="label label-as-badge" style="border-radius: 1em; background-color: #ffcc00; color: black;">5</span> -->
                </a>
                {% endif %}
                </li>

                {% for project in user_projects %}
                 <li style="line-height: 2em;">
                    {% if project_name == project[1] %}
                    <a href="{{ url_for('project_tasks', project_id = project[0]) }}" style="background-color: #3f3f3f; color: white;">
                    - {{project[1]}}
                   <!--  <span class="label label-as-badge" style="border-radius: 1em; background-color: #ffcc00; color: black;">0</span> -->
                    </a>
                    {% else %}
                    <a href="{{ url_for('project_tasks', project_id = project[0]) }}" >
                     - {{project[1]}}
                    <!-- <span class="label label-as-badge" style="border-radius: 1em; background-color: #ffcc00; color: black;">2</span> -->
                    </a>
                    {% endif %}
                </li>
                {% endfor %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="container-fluid" style="padding: 0; margin:0; width: 100%; white-space: nowrap;">
            <div class="container-fluid" style="width:100%; white-space: nowrap; margin: 0; padding: 0; ">

                <!-- nav bar -->
                <nav class="navbar navbar-default navbar-static-top" style="width: 100%; white-space: nowrap; padding: 0; margin: 0;">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                          {% if project_name != 'All Projects' %}
                    <a class="navbar-brand" href="{{ url_for('project_settings', project_id = project_id, project_name = project_name) }}">
                    {{project_name}}
                    <!-- <br> -->
                    <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
                    <!-- <small>{{users_in_project|length}}</small> -->
                    </a>
                {% else %}
                    <a class="navbar-brand" href="">{{project_name}}</a>
                {% endif %}

                <!-- {% if project_name != 'All Projects' %} -->
                <!-- <span class="text-muted"> -->
                <!-- {{users_in_project|length}} members - -->
                <!-- {% for i in range(users_in_project|length - 1) %} -->
                <!-- {{users_in_project[i][0]}}, -->
                <!-- {% endfor %} -->
                <!-- {{ users_in_project[users_in_project|length - 1][0] }} -->
                <!-- </span> -->
                <!-- {% endif %} -->

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



                          <form class="navbar-form navbar-left">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Go!</button>
                          </form>

                          <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Logged in as <br>{{session.username}}</a></li>
                                <li><a href="#">Profile settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{url_for('logout')}}">Logout</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                </nav>
                <!-- nav bar -->
                </div>

            <div class="container-fluid">

                <!-- {% if project_name != 'All Projects' %} -->
                    <!-- <a href="{{ url_for('project_settings', project_id = project_id, project_name = project_name) }}" style="color: black;"> -->
                    <!-- <h3>{{project_name}}</h3> -->
                    <!-- </a> -->
                <!-- {% else %} -->
                    <!-- <h3>{{project_name}}</h3> -->
                <!-- {% endif %} -->

                <!-- {% if project_name != 'All Projects' %} -->
                <!-- <span class="text-muted"> -->
                <!-- {{users_in_project|length}} members - -->
                <!-- {% for i in range(users_in_project|length - 1) %} -->
                <!-- {{users_in_project[i][0]}}, -->
                <!-- {% endfor %} -->
                <!-- {{ users_in_project[users_in_project|length - 1][0] }} -->
                <!-- </span> -->
                <!-- {% endif %} -->

                <!--  nav tabs-->
                <ul id="mytabs" class="nav nav-tabs">

                <br>

                <li role="presentation" class="active"><a href="#fourthtab" data-toggle="tab">All Tasks</a></li>

                <li role="presentation"><a href="#firsttab" data-toggle="tab">Assigned to you
                <span class="badge">
                {{task_list_overdue|length + task_list_due_today|length + task_list_due_later|length}}
                </span>
                </a></li>

                <li role="presentation"><a href="#secondtab" data-toggle="tab">Assigned by you
                <span class="badge">
                {{tasks_by_you_overdue|length + tasks_by_you_due_today|length + tasks_by_you_due_later|length}}
                </span>
                </a></li>

                <!-- <li role="presentation"><a href="#thirdtab" data-toggle="tab">Overview</a></li> -->

                </ul>
            </div><!-- /.container-fluid -->
            <br>

              <div class="container-fluid">
                 <div class="container-fluid col-md-6">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    {{message}}
                    </div>
                    {% endfor %}
                    {% endwith %}
                  </div>
              </div>
              <br>

              <div class="container-fluid">
              {% block body %}{% endblock %}
              </div>

        </div><!-- page content wrapper-->

    </div>






    <!-- js includes -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.fr.js') }}"></script>


    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script> -->



  <!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>


<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'en',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>



    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->

<!-- Menu Toggle Script -->
    <script type="text/javascript">
        $('#mytabs a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});
    </script>

<!-- Toggleable nav tabs -->
    <!-- <script type="text/javascript">
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href"); // activated tab
});
    </script> -->

    <script type="text/javascript">

    $('#mytabs a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});


        // store the currently selected tab in the hash value
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
  var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;
});

// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
$('#mytabs a[href="' + hash + '"]').tab('show');
    </script>

    <script type="text/javascript">
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
</body>











