<!DOCTYPE html>
<html>
<head>
    <title></title>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">

         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css">
</head>






    <!-- <form action="" class="form-horizontal"  role="form">
        <fieldset>
            <legend>Test</legend>

            <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
            </div>

            <div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>

            <div class="form-group">
                <label for="dtp_input3" class="col-md-2 control-label">Time Picking</label>
                <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <input type="hidden" id="dtp_input3" value="" /><br/>
            </div>

        </fieldset>
    </form>
 -->
                <div class="container-fluid">
                <br><br><br>
                </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-3">

                            <form action="{{ url_for('new_task', project_id = project_id) }}" method="POST" enctype="multipart/form-data">

                                <h1>Assign a new task</h1>
                                    <br><br>

                                 <label for="People"><h4>Assign To</h4></label>
                                  <div class="form-group-lg">
                                  <select class="selectpicker show-menu-arrow show-tick"
                                  title="Assign to" data-width="75%" data-style="btn-default btn-lg"
                                  data-live-search="true" name="assigned_to">

                                    {% for username in users_in_project %}
                                      <option style="font-size: 18px">{{username[0]}}</option>
                                    {% endfor %}
                                </select>
                                  </div>

                                  <br>

                                  <div class="form-group-lg">
                                    <label for="description">Task Description</label>
                                    <textarea class="form-control" id="description" placeholder="Description" name="task_description"></textarea>
                                  </div>

                                  <br>

                                  <!-- <div class="form-group">
                                    <label for="super_category">Priority</label><br>
                                        <label class="radio-inline">
                                        <input lass="form-control" type="radio" name="super_category" id="inlineRadio1" value="Fiction"> High
                                        </label>

                                        <label class="radio-inline">
                                        <input type="radio" name="super_category" id="inlineRadio2" value="Non-Fiction"> Medium
                                        </label>

                                        <label class="radio-inline">
                                        <input type="radio" name="super_category" id="inlineRadio2" value="Non-Fiction"> Low
                                        </label>
                                  </div> -->

                                  <div class="form-group-lg">
                                        <label for="dtp_input2" class="control-label">Due Date</label>
                                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" name="due_date" /><br/>
                                    </div>

                                    <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.fr.js') }}"></script>

 <!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>



<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>


</html>
